<main>
    <div class="edit-profile-page">
        <div class="edit-profile-wrapper">
            {{{avatar}}}
            <form class="edit-profile-fields">
                {{{fieldEmail}}}
                {{{fieldLogin}}}
                {{{fieldFirstName}}}
                {{{fieldSecondName}}}
                {{{fieldDisplayName}}}
                {{{fieldPhone}}}
                {{{button}}}
            </form>

        </div>
        {{{backInChats}}}
    </div>
</main>
