<div class="field">
    <div class="field_name">{{{nameField}}}</div>
    <div class="field_value">
        {{{field}}}
        <span class="text-error field-text-error">{{{textError}}}</span>
    </div>
    {{!-- {{{input}}} --}}
    {{!-- <div class="profile-field_value" name="{{{name}}}">{{{value}}}</div> --}}
    {{! <input class="profile-field_value" name="email" value="pochta@yandex.ru" /> }}
</div>
