<main>
    {{#if isLoading}}
        Loading...
    {{else}}
        <div class="profile-page">

            <div class="profile-wrapper">
                {{{avatar}}}
                {{{fieldName}}}
                {{{fieldEmail}}}
                {{{fieldLogin}}}
                {{{fieldFirstName}}}
                {{{fieldSecondName}}}
                {{{fieldDisplayName}}}
                {{{fieldDisplayName}}}
                {{{fieldPhone}}}
                {{!-- {{{linkEditData}}}
                {{{linkEditPassword}}} --}}
                {{{editDataButton}}}
                {{{editPasswordButton}}}
                {{{logoutButton}}}
            </div>

            {{{backInChats}}}
        </div>
    {{/if}}
</main>
