<div class="chat-block {{#if isAciveChat}}chat__active{{/if}}">
    {{! может быть active}}
    <div class="chat">
        <div class="chat-left">
            <div class="chat-left-avatar">{{{imageAvatar}}}</div>
            <div class="chat-left-preview">
                <div class="chat-left-preview__name-chat">
                    {{{nameChat}}}
                </div>
                <div class="chat-left-preview__text-chat">
                    {{{lastMessage}}}
                </div>
            </div>
        </div>
        <div class="chat-right">
            <div class="chat-right-preview">
                <div class="chat-right-preview__time-message">
                    {{{messageTime}}}
                </div>
                {{#if unreadCount}}
                    <div class="chat-left-preview__non-read-messages {{{unreadCountClasssName}}}">
                        {{{unreadCount}}}
                    </div>
                {{/if}}

            </div>
        </div>
    </div>
</div>
