<main class="main">
    {{{modalCreateChat}}}
    {{{modalAddUser}}}
    {{{modalDeleteUser}}}
    <div class="wrapper">
        <div class="chat-page">

            <div class="chat-page-chats">
                <div class="chat-page-chats__header">

                    {{{linkProfile}}}

                    <div class="chat-page-wrapper-search-block">
                        {{{inputSearch}}}
                        {{{buttonShowAddChatMenu}}}
                        <div class="add-chat__menu">
                            {{{buttonShowModalAddChat}}}
                        </div>
                    </div>

                </div>
                {{{сhatBlock}}}
            </div>
            {{{mainBlockChat}}}
        </div>

    </div>
</main>
