<main>
    <div class="signin-page">
        <div class="signin-wrapper">
            <div class="signin-header">Регистрация</div>
            <form class="signin-form">
                {{{email}}}
                {{{login}}}
                {{{firstName}}}
                {{{secondName}}}
                {{{phone}}}
                {{{password}}}
                {{{againPassword}}}
                {{{button}}}
            </form>

            {{{link}}}

        </div>
    </div>
</main>
