<main>
    <div class="edit-password-page">
        <div class="edit-password-wrapper">
            {{{avatar}}}
            <form class="edit-password-fields">
                {{{fieldOldPassword}}}
                {{{fieldNewPassword}}}
                {{{fieldAginNewPassword}}}
                {{{buttonSaveNewPassword}}}
            </form>
        </div>
        {{{backInChats}}}
    </div>
</main>
