<main>
    <div class="edit-password-page">
        <div class="edit-password-wrapper">
            {{{avatar}}}
            <form class="edit-password-fields">
                {{{fieldOldPassword}}}
                {{{fieldNewPassword}}}
                {{{fieldAginNewPassword}}}
                <button class="profile-save_newpassword">Сохранить</button>
            </form>
        </div>
        {{{backInChats}}}
    </div>
</main>
